.header-logo {
  position: absolute;
  left: 10px;
  top: 10px;
  height: 75px;
}

header {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 24px 20px;
  border-bottom: 5px solid #ccc;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.5s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

h1.lead {
  font-size: 28px;
  font-weight: 700;
  color: #333;
  margin: 20px 0 10px;
  letter-spacing: 1px;
}

.custom-btn {
  background-color: #1b602b;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s, box-shadow 0.2s;
}

.custom-btn:hover, .custom-btn:focus {
  background-color: #218838;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  outline: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #020202;
}

details {
  display: block;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.swim-lanes {
  min-height: 60vh;
  color: #365a53;
  background: linear-gradient(to right, #365a53, #ffffff);
  padding: 20px;
  border-radius: 10px;
}

.task-card {
  background-color: #365a53;
  color: #ffffff;
  margin: 10px auto;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 90%;
  box-sizing: border-box;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.task-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.task-card.dragging {
  cursor: grabbing;
  z-index: 1000;
  opacity: 0.5;
  color: #3c896d;
}

.btn-delete-task {
  background-color: #ff4757;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.btn-delete-task:hover, .btn-delete-task:focus {
  background-color: #e84118;
  outline: none;
}

footer {
  background-color: #2c3e50;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  padding: 20px;
  text-align: center;
}

nav a {
  color: #4cd137;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

nav a:hover {
  text-decoration: underline;
  color: #8c7ae6;
}

@media (max-width: 768px) {
  .flex-container {
    flex-direction: column;
  }

  nav, article, details {
    margin-bottom: 10px;
  }
}
